<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/index.css" type="text/css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Kategorie</title>
</head>

<body>

    <header>
        <div id="logo">
            <img src="../images/logo.png" alt="Logo společnosti" width="64" height="64">
        </div>
        <div id="header_buttons">
            <button>
                <div class="column">
                    <span class="button-text">Napiste nam</span>
                </div>
                <div class="column">
                    <span class="material-symbols-outlined">mail</span>
                </div>
            </button>
            <button>
                <div class="column">
                    <span class="button-text">Prihlaseni</span><!--vlozit odkaz na prihlaseni.html-->
                    <span class="button-subtext">Registrace</span><!--vlozit odkaz na registrace.html-->
            </div>
            <div class="column">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </div>
            </button>
        </div>
    </header>
    <main>
        <div id="categories">
            <a href="/html/kategorie/ceska.html">Česká kuchyně</a>
            <a href="/html/kategorie/americka.html">Americká kuchyně</a>
            <a href="/html/kategorie/asijska.html">Asijská kuchyně</a>
            <a href="/html/kategorie/vegetarianska.html">Vegetariánská kuchyně</a>
            <a href="/html/kategorie/streetfood.html">Streetfood</a>
            <a href="/html/kategorie/turecka.html">Turecká kuchyně</a>
        </div>
        <div id="restaurantTitle">
            <h2>Restaurace</h2>
        </div>
        <div class="searchbar">
            <input type="text" placeholder="Vyhledat restauraci">
        </div>
        <div id="cards-container">
            {% for restaurace in restaurace %}
            <div class="card">
                <img src="restaurant_image.jpg">
                <div class="card-description">
                    <h3>{{ restaurace.nazev }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>

    </main>
</body>

</html>