{% extends 'html/kategorie.html' %}

{% block title %}Restaurace{% endblock %}

{% block main %}
<div id="restaurantTitle">
    <h2>Restaurace</h2>
    {% if kategorie != None %}
    <h2>{{kategorie.nazev}}</h2>
    {% endif %}
</div>
<div class="searchbar">
    <input type="text" placeholder="Vyhledat restauraci">
</div>
<div id="cards-container">

    {% for restaurace in restaurace %}
    <div class="card">
        <img src="restaurant_image.jpg">
        <a href="{{url_for('view_produkty_page', restaurace_id=restaurace.restaurace_id)}}">
            <div class="card-description">
                <h3>{{ restaurace.nazev }}</h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}