{% extends 'html/kategorie.html' %}

{% block title %}
{% if restaurace == None %}
Objednání
{% else %}
{{ restaurace.nazev }}
{% endif %}
{% endblock %}

{% block main %}
<div id="restaurantTitle">
    {% if restaurace == None %}
    <h2>Zvolte si prvni restauraci</h2>
    {% else %}
    <h2>{{restaurace.nazev}}</h2>
    {% endif %}
</div>
{% if restaurace != None %}
<a href="?restaurace_id={{ restaurace.restaurace_id }}" class="{{ 'active' if show_unavailable else '' }}">Zobrazit
    dostupne</a> |
<a href="?restaurace_id={{ restaurace.restaurace_id }}&limited=true"
    class="{{ 'active' if show_limited else '' }}">Limited</a>

<table class="objednani">
    <tr>
        <th>Název jídla</th>
        <th>Popis</th>
        <th>Cena</th>
        <th>Kategorie</th>
    </tr>
    {% for produkt in produkty %}
    <tr>
        <td>{{produkt.nazev}}</td>
        <td>{{produkt.popis}}</td>
        <td>{{produkt.cena}}</td>
        <td class="quantity-input">
            <div class="quantity-btn" onclick="decreaseQuantity(this)">-</div>
            <div class="quantity-value" contenteditable="true">0</div>
            <div class="quantity-btn" onclick="increaseQuantity(this)">+</div>
        </td>
    </tr>
    {% endfor %}
</table>
<button class="order-btn">Objednat</button>
{% endif %}
{% endblock %}

{% block script %}
<script>
    function increaseQuantity(element) {
        var quantityElement = element.parentNode.querySelector('.quantity-value');
        var quantity = parseInt(quantityElement.innerText, 10);
        quantityElement.innerText = quantity + 1;
    }

    function decreaseQuantity(element) {
        var quantityElement = element.parentNode.querySelector('.quantity-value');
        var quantity = parseInt(quantityElement.innerText, 10);
        if (quantity > 0) {
            quantityElement.innerText = quantity - 1;
        }
    }
</script>
{% endblock %}