{% extends 'html/kategorie.html' %}

{% block title %}
{% if restaurace == None %}
Objednání
{% else %}
{{ restaurace.nazev }}
{% endif %}
{% endblock %}

{% block main %}
<div id="restaurantTitle">
    {% if restaurace == None %}
    <h2>Zvolte si prvni restauraci</h2>
    {% else %}
    <h2>{{restaurace.nazev}}</h2>
    {% endif %}
</div>
{% if restaurace != None %}
<a href="?restaurace_id={{ restaurace.restaurace_id }}" class="{{ 'active' if show_unavailable else '' }}">Zobrazit
    dostupne</a> |
<a href="?restaurace_id={{ restaurace.restaurace_id }}&limited=true"
    class="{{ 'active' if show_limited else '' }}">Limited</a>


<form method="POST" action="/objednat">
    <input type="hidden" name="prihlaseny_uzivatel" value="{{prihlaseny.user_id}}">
    <input type="hidden" name="stav" value="volna">
    <table class="objednani">
        <tr>
            <th>Název jídla</th>
            <th>Popis</th>
            <th>Cena</th>
            <th>Množství</th>
        </tr>
        {% for produkt in produkty %}
        <input type="hidden" name="product_{{ produkt.produkt_id }}" value="{{ produkt.produkt_id }}">
        <tr>
            <td>{{produkt.nazev}}</td>
            <td>{{produkt.popis}}</td>
            <td>{{produkt.cena}}</td>

            <td class="quantity-input">
                <input type="number" name="quantity_{{ produkt.produkt_id }}" value="0" min="0" step="1" onchange="updateHiddenInput('{{ produkt.produkt_id }}')">
            </td>
        </tr>
        {% endfor %}
    </table><button type="submit" class="order-btn">Objednat</button>
</form>
{% endif %}
{% endblock %}

{% block script %}
<script>

    function updateHiddenInput(productId) {
        var quantityInput = document.querySelector('input[name="quantity_' + productId + '"]');
        var hiddenInput = document.querySelector('input[name="product_' + productId + '"]');
        hiddenInput.value = quantityInput.value;
    }
</script>
{% endblock %}