{% extends 'html/kategorie.html' %}
{% block title %}
Statistika
{% endblock %}
{% block main %}
<div class="container">
    <div class="left-section">
        <nav>
            <a href="{{ url_for('view_profil_page') }}">Osobní údaje</a>
            <a href="{{ url_for('view_objednavka_page') }}">Objednávky</a>
            {% if prihlaseny.nazev == 'kuryr' or prihlaseny.nazev == 'admin' %}
            <a href="{{ url_for('view_vyber_page') }}">Výběr objednávek</a>
            {% endif %}
            {% if prihlaseny.nazev == 'admin' %}
            <a href="{{ url_for('view_statistika_page') }}">Statistika</a>
            <a href="{{ url_for('view_prehled_uzivatelu_page') }}">Uživatelé</a>
            {% endif %}
            {% if prihlaseny.nazev == 'zamestnanec' %}
            <a href="{{ url_for('view_pridat_produkt') }}">Přidat produkt</a>
            {% endif %}
        </nav>
    </div>

    <div class="right-section">
        <h2>Přidat nový produkt</h2>
        <br>
        <form action="{{ url_for('add_produkt') }}" method="post">
            <div class="form-group">
                <label for="nazev">Název:</label>
                <input type="text" id="nazev" name="nazev" required>
            </div>
            <div class="form-group">
                <label for="popis">Popis:</label>
                <input id="text" name="popis" required></input>
            </div>
            <div class="form-group">
                <label for="cena">Cena:</label>
                <input type="number" id="cena" name="cena" required>
            </div>
            <div class="form-group">
                <label for="dostupny_od">Dostupný od:</label>
                <input type="text" id="dostupny_od" name="dostupny_od" required>
            </div>
            <div class="form-group">
                <label for="dostupne_do">Dostupné do:</label>
                <input type="text" id="dostupne_do" name="dostupne_do" required>
            </div>
            <div class="form-group">
                <label for="dostupne_do">Obrázek</label>
                <input type="text" id="obrazek" name="obrazek" required>
            </div>
            <button type="submit">Přidat produkt</button>
        </form>
    </div>
</div>
{% endblock %}