{% extends 'html/kategorie.html' %}

{% block title %}
    {% if restaurace == None %}
        Produkty
    {% else %}
        {{ restaurace.nazev }}
    {% endif %}
{% endblock %}

{% block main %}
        <div id="restaurantTitle">
            {% if restaurace == None %}
            <h2>Zvolte si prvni restauraci</h2>
            {% else %}
            <h2>{{restaurace.nazev}}</h2>
            {% endif %}
        </div>

        <div class="searchbar">
            <input type="text" placeholder="Vyhledat restauraci">
        </div>
        {% if restaurace != None %}
        <br>
        <a href="?restaurace_id={{ restaurace.restaurace_id }}"
            class="{{ 'active' if show_unavailable else '' }}">Zobrazit dostupne</a> |
        <a href="?restaurace_id={{ restaurace.restaurace_id }}&unavailable=true"
            class="{{ 'active' if show_unavailable else '' }}">Unavailable</a> |
        <a href="?restaurace_id={{ restaurace.restaurace_id }}&upcoming=true"
            class="{{ 'active' if show_upcoming else '' }}">Upcoming</a> |
        <a href="?restaurace_id={{ restaurace.restaurace_id }}&limited=true"
            class="{{ 'active' if show_limited else '' }}">Limited</a>

        {% endif %}
        <div id="cards-container">
            {% for produkt in produkty %}
            <div class="card">
                <img src="restaurant_image.jpg">
                <a href="{{url_for('view_objednat_page', restaurace_id=restaurace.restaurace_id)}}">
                    <div class="card-description">
                        <h3>{{ produkt.nazev }}</h3>
                    </div>
            </div>
            </a>
            {% endfor %}
        </div>
{% endblock %}