* {
    margin: 0;
    box-sizing: border-box;
    padding: 0
}

body {
    background:#eee;
    font-family: Arial, Helvetica, sans-serif
    
}

header,
main {
    width: 80vw;
    min-width: 900px;
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: #333;
    justify-content: space-between;
    display: flex;
    height: auto;
    align-items: center;
    padding: 0px 20px;
}

#logo {
    width: 30%;
}

#header_buttons {
    display: flex;
    align-items: center;
}

#header_buttons button:hover {
    background-color: #0056b3;
}

#header_buttons button {
    max-height: 20px;
    min-height: 45px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 15px;
    
}

#header_buttons .column {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
}

#header_buttons .button-text {
    font-size: 16px;
}

#header_buttons .button-subtext {
    font-size: 12px;
}

#header_buttons .material-symbols-outlined {
    font-size: 30px;
}

#categories {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
}

#categories a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#categories a:hover {
    color: #0056b3;
}

#restaurantTitle {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

#cards-container {
    width: auto;
    display: flex;
    flex-wrap:wrap;
    margin: 20px 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    min-width: 250px;
    margin: 20px;
    padding: 15px; 
}

.card img {
    width: 100%;
    height: auto;
}

.card a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 900px) {
    #header_buttons button {
        min-width: auto;
        width: 45px;
        padding: 0;
    }

    #header_buttons .button-text,
    #header_buttons .button-subtext {
        display: none;
    }

    #header_buttons .material-symbols-outlined {
        margin-left: 10px;
    }

    #header_buttons .column{
        margin: 0px;
    }


    #categories {
        flex-wrap: wrap;
    }

    #categories a {
        width: 45%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    header,
    main {
        width: 100%;
        min-width:auto;
    }

    #cards-container {
    justify-content: center;
    }
}