{% extends 'html/kategorie.html' %}
{% block title %}
Můj profil
{% endblock %}
{% block main %}
<div class="container">
    <div class="left-section">
        <nav>
            <a href="{{ url_for('view_profil_page') }}">Osobní údaje</a>
            <a href="{{ url_for('view_objednavka_page') }}">Objednávky</a>
            {% if prihlaseny.nazev == 'kuryr' or prihlaseny.nazev == 'admin' %}
            <a href="{{ url_for('view_vyber_page') }}">Výběr objednávek</a>
            {% endif %}
            {% if prihlaseny.nazev == 'admin' %}
            <a href="{{ url_for('view_statistika_page') }}">Statistika</a>
            <a href="{{ url_for('view_prehled_uzivatelu_page') }}">Uživatelé</a>
            {% endif %}
        </nav>
    </div>
    <div class="right-section">
        <form>
            <div class="form-group">
                <label for="jmeno">Jméno:</label>
                <input type="text" id="jmeno" name="jmeno" value="{{ prihlaseny.jmeno }} " readonly>
            </div>
            <div class="form-group">
                <label for="prijmeni">Příjmení:</label>
                <input type="text" id="prijmeni" name="prijmeni" value="{{ prihlaseny.prijmeni }} " readonly>
            </div>
            <div class="form-group">
                <label for="telefon">Telefon:</label>
                <input type="tel" id="telefon" name="telefon" value="{{ prihlaseny.telefon }} " readonly>
            </div>
            <div class="form-group">
                <label for="ulice">Adresa:</label>
                <input type="text" id="ulice" name="ulice" value="{{ prihlaseny.adresa }} " readonly>
            </div>
        </form>
    </div>
</div>
{% endblock %}