<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../../static/css/napistenam.css" type="text/css">
    <title>Napište nám!</title>
    
</head>
<body>

    <form action="#" method="post">
        <label for="email">Váš email:</label>
        <input type="email" id="email" name="email" required>

        <label for="predmet">Předmět:</label>
        <input type="text" id="predmet" name="predmet" required>

        <label for="zprava">Zpráva:</label>
        <textarea id="zprava" name="message" rows="4" required></textarea>

        <button type="odeslat">Odeslat</button>
    </form>

</body>
</html>
