{% extends 'html/kategorie.html' %}
{% block title %}
Objednávky
{% endblock %}
{% block main %}
<div class="container">
    <div class="left-section">
        <nav>
            <a href="{{ url_for('view_profil_page') }}">Osobní údaje</a>
            <a href="{{ url_for('view_objednavka_page') }}">Objednávky</a>
            {% if prihlaseny.nazev == 'kuryr' %}
            <a href="{{ url_for('view_vyber_page') }}">Výběr objednávek</a>
            {% endif %}
            {{prihlaseny.nazev }}
            {% if prihlaseny.nazev == 'admin' %}
            <a href="{{ url_for('view_statistika_page') }}">Statistika</a>
            <a href="{{ url_for('view_prehled_uzivatelu_page') }}">Uživatelé</a>
            {% endif %}
        </nav>
    </div>
    <div class="right-section">
        <h2>Vaše objednávky</h2>
        <table>
            <tr>
                <th>Cena</th>
                <th>Datum Vytvoření</th>
                <th>Stav objednávky</th>
            </tr>
            {% for objednavka in objednavky %}
            <tr>
                <td>{{ objednavka.cena }}</td>
                <td>{{ objednavka.vytvoreni }}</td>
                <td>{{ objednavka.stav_objednavky }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="frame">
            <div class="inner-frame">
                <span class="value">{{ pocet_objednavek }}</span>
            </div>
            <div class="description-frame">
                <span class="description">Počet objednávek</span>
            </div>
        </div>

        <div class="frame">
            <div class="inner-frame">
                <span class="value">{{ mnozstevni_sleva }} %</span>
            </div>
            <div class="description-frame">
                <span class="description">Množstevní sleva</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}