<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../../static/css/registrace.css" type="text/css">
    <title>Registrace</title>

</head>
<body>

    <form action="#" method="post">
        <label for="jmeno">Jméno:</label>
        <input type="text" id="name" name="name" required>

        <label for="prijmeni">Příjmení:</label>
        <input type="text" id="surname" name="surname" required>

        <label for="telefon">Telefonní číslo:</label>
        <input type="tel" id="telefon" name="telefon" required>

        <label for="adresa">Adresa:</label>
        <input type="text" id="adresa" name="adresa" required>

        <label for="mesto">Město:</label>
        <input type="text" id="mesto" name="mesto" required>

        <label for="psc">PSČ:</label>
        <input type="text" id="psc" name="psc" required>

        <label for="heslo">Heslo:</label>
        <input type="password" id="heslo" name="heslo" required>

        <label for="hesloznovu">Heslo znovu:</label>
        <input type="password" id="hesloznovu" name="hesloznovu" required>

        <button type="submit">Registrovat se</button>
    </form>

</body>
</html>
