{% extends 'html/kategorie.html' %}
{% block title %}
Statistika
{% endblock %}
{% block main %}
<div class="container">
    <div class="left-section">
        <nav>
            <a href="{{url_for('view_profil_page')}}">Osobní údaje</a>
            <a href="{{url_for('view_objednavka_page')}}">Objednávky</a>
            <a href="{{url_for('view_vyber_page')}}">Výběr objednávek</a>
            <a href="{{url_for('view_statistika_page')}}">Statistika</a>
            <a href="{{url_for('view_prehled_uzivatelu_page')}}">Uživatelé</a>
        </nav>
    </div>

    <div class="right-section">
        <h2>Statistika</h2>
        <div class="statistics">
            <div class="description-frame">
                <span class="description">Počet objednávek</span>
            </div>
            <div class="inner-frame">
                <span class="value">{{ pocet_objednavek }}</span>
            </div>
        </div>
        <div class="statistics">
            <div class="description-frame">
                <span class="description">Provize z prostředkování objednávek</span>
            </div>
            <div class="inner-frame">
                <span class="value">{{ celkova_cena_proviz }}</span>
            </div>
        </div>
        <div class="statistics">
            <div class="description-frame">
                <span class="description">Zisk z dovozu objednávek</span>
            </div>
            <div class="inner-frame">
                <span class="value">{{ celkova_cena_cesty }}</span>
            </div>
        </div>
        <div class="statistics">
            <div class="description-frame">
                <span class="description">Celkový zisk</span>
            </div>
            <div class="inner-frame">
                <span class="value">{{ celkovy_zisk }}</span>
            </div>
        </div>
        <br>
        <h2>Všechny objednávky</h2>
        <table>
            <tr>
                <th>ID objednavky</th>
                <th>Restaurace</th>
                <th>ID uzivatel</th>
                <th>ID kuryra</th>
                <th>Stav objednavky</th>
                <th>Cena cesty</th>
                <th>Provize</th>
            </tr>
            {% for objednavka in objednavky %}
            <tr>
                <td>{{ objednavka.objednavka_id }}</td>
                <td>{{ objednavka.nazev }}</td>
                <td>{{ objednavka.uzivatel }}</td>
                <td>{{ objednavka.kuryr }}</td>
                <td>{{ objednavka.stav_objednavky }}</td>
                <td>{{ objednavka.cena }}</td>
                <td>{{ objednavka.provize }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}