{% extends 'html/kategorie.html' %}
{% block title %}
Statistika
{% endblock %}
{% block main %}
<div class="container">
    <div class="left-section">
        <nav>
            <a href="#">Osobní údaje</a>
            <a href="#">Objednávky</a>
            <a href="#">Platební údaje</a>
            <a href="#">Výběr objednávek</a>
            <a href="#">Statistika</a>
            <a href="#">Uživatelé</a>
        </nav>
    </div>

    <div class="right-section">
        <h2>Prehled uzivatelu</h2>
        <table>
            <tr>
                <th>ID uzivatele</th>
                <th>Prijmeni</th>
                <th>Jmeno</th>
                <th>Role</th>
                <th>Upravit</th>
            </tr>
            {% for uzivatel in uzivatele %}
            <tr>
                <td>{{ uzivatel.user_id }}</td>
                <td>{{ uzivatel.prijmeni }}</td>
                <td>{{ uzivatel.jmeno }}</td>
                <td>
                    <select name="role_select">
                        <option value="" {% if not uzivatel.nazev_role %}selected{% endif %}>Vyberte roli</option>
                        {% for prvek in role %}
                        <option value="{{ prvek.role_id }}" {% if prvek.nazev==uzivatel.nazev_role %}selected{% endif
                            %}>{{ prvek.nazev }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="submit" name="submit_button" value="{{ uzivatel.user_id }}">Uložit</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}