{% extends 'html/kategorie.html' %}
{% block title %}
Statistika
{% endblock %}
{% block main %}
<div class="container">
    <div class="left-section">
        <nav>
            <a href="{{ url_for('view_profil_page') }}">Osobní údaje</a>
            <a href="{{ url_for('view_objednavka_page') }}">Objednávky</a>
            {% if prihlaseny.nazev == 'kuryr' or prihlaseny.nazev == 'admin' %}
            <a href="{{ url_for('view_vyber_page') }}">Výběr objednávek</a>
            {% endif %}
            {% if prihlaseny.nazev == 'admin' %}
            <a href="{{ url_for('view_statistika_page') }}">Statistika</a>
            <a href="{{ url_for('view_prehled_uzivatelu_page') }}">Uživatelé</a>
            {% endif %}
            {% if prihlaseny.nazev == 'zamestnanec' %}
            <a href="{{ url_for('view_pridat_produkt') }}">Přidat produkt</a>
            {% endif %}
        </nav>
    </div>

    <div class="right-section">
        <h2>Neodkončené objednávky</h2>
        <table>
            <tr>
                <th>ID objednavky</th>
                <th>Nazev restaurace</th>
                <th>Zakaznik ID</th>
                <th>Stav objednávky</th>
                <th>Potvrdit</th>
            </tr>
            {% for objednavka in nevyrizene %}
            <tr>
                <td>{{ objednavka.objednavka_id }}</td>
                <td>{{ objednavka.nazev }}</td>
                <td>{{ objednavka.uzivatel_id }}</td>
                <td>{{ objednavka.stav_objednavky }}</td>
                <form method="POST" action="{{ url_for('update_stav_objednavky') }}">
                    <input type="hidden" name="objednavka_id" value="{{ objednavka.objednavka_id }}">
                    <input type="hidden" name="novy_stav" value="doruceno">
                    <td>
                        <button type="submit" name="potvrdit_doruceni">Doruceno</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h2>Volné objednávky</h2>
        <table>
            <tr>
                <th>ID objednavky</th>
                <th>Nazev restaurace</th>
                <th>Zakaznik ID</th>
                <th>Stav objednávky</th>
                <th>Zabrat</th>
            </tr>
            {% for objednavka in volne %}
            <tr>
                <td>{{ objednavka.objednavka_id }}</td>
                <td>{{ objednavka.nazev }}</td>
                <td>{{ objednavka.uzivatel_id }}</td>
                <td>{{ objednavka.stav_objednavky }}</td>
                <form method="POST" action="{{ url_for('update_stav_objednavky') }}">
                    <input type="hidden" name="objednavka_id" value="{{ objednavka.objednavka_id }}">
                    <input type="hidden" name="novy_stav" value="nedoruceno">
                    <td>
                        <button type="submit" name="rezervace">Priradit</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h2>Vyřízené objednávky</h2>
        <table>
            <tr>
                <th>ID objednavky</th>
                <th>Nazev restaurace</th>
                <th>Zakaznik ID</th>
                <th>Stav objednávky</th>
            </tr>
            {% for objednavka in vyrizene %}
            <tr>
                <td>{{ objednavka.objednavka_id }}</td>
                <td>{{ objednavka.nazev }}</td>
                <td>{{ objednavka.uzivatel_id }}</td>
                <td>{{ objednavka.stav_objednavky }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}